

MONGO_URI = mongodburi 
PORT = port
JWT_SECRET = jwtsecret

CLOUDINARY_CLOUD_NAME=cloud name
CLOUDINARY_API_KEY=cloudinarykey
CLOUDINARY_API_SECRET=cloudinaryapisecret

EMAIL_USER=email
EMAIL_PASS=emailpasskey

CLIENT_URL=frontendurl